<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h3>Welcome to the secret number game <span th:text="${playername}"></span>
!! <br/></h3>
<form method="post" action="/game">
    <input name="guess" type="text" size="8"/>
    <br/>
    <input name="button" type="submit" value="Guess"/>
</form>
<p th:text="${gameover}"></p>
<table style="...">
    <tr th:each="guessAnswer:${answers}">
        <td><span th:text="${guessAnswer}"></span></td>
    </tr>
    <a href="/resultpage" target="_blank">Toplistan</a>
</table>
</html>